@model string
<div class="d-flex justify-content-center">
    <div class="card shadow border-0 mt-4 col-6 text-center">
        
        <div class="card-body p-4">
            <form method="get" asp-controller="Scanner" asp-action="DownloadExcelFile">
                
                <input type="hidden" name="jobId" value="@Model" />
                        
                <button type="submit" class="btn btn-primary mt-4">Download Excel File</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
